David Golden <dagolden@cpan.org> <xdg@xdg.me>
Doug Bell <preaction@cpan.org> <madcityzen@gmail.com>
Doug Bell <preaction@cpan.org> <doug@preaction.me>
Doug Bell <preaction@cpan.org> <preaction@users.noreply.github.com>
Steven Thirlwall <sdt@cpan.org> <sdt@dr.com>
Steven Thirlwall <sdt@cpan.org> <stephen.thirlwall@strategicdata.com.au>
Samuel Ng <samuel.ng@grantstreet.com> <sng@grantstreet.com>
Phill Legault <saladdayllc@gmail.com>
